examples/** linguist-vendored
.github/workflows/* linguist-vendored
# JavaScript source file
*.js linguist-documentation=false
*.js linguist-detectable=true
*.js linguist-language=js
# CSS source file
*.css linguist-documentation=false
*.css linguist-detectable=true
*.css linguist-language=js
